<phpunit bootstrap="autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="ts0">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="ts1">
            <file>tests/TemplateMethodsTest.php</file>
            <file>tests/StackTestWidthSetup.php</file>
        </testsuite>
    </testsuites>
</phpunit>
