body {
    border: 4px lime solid;
}

#box1 {
    border: 4px teal solid;
}

.gbb {
    background-color: gray;
    border: 4px black solid;
    padding: 8px;
}

.bgg {
    background-color: black;
    border: 4px gray solid;
    padding: 8px;
    color: gray;
    margin: 32px;
}

.sbb {
    background-color: silver;
    border: 4px black solid;
    padding: 8px;
}
