#top {
    background-color: #ccc;
    padding: 1em;
}

#top h1 {
    color: #ff0;
}

#top p {
    color: red;
    font-weight: bold;
}

p:first-child {
    font-weight: bold;
    font-size: 40px;
}

#box {
    background-color: #ccc;
}

#box h1 {
    background-color: red;
    border: 5px black solid;
    padding: 10px;
}

#box p {
    background-color: black;
    color: white;
    border: 5px red solid;
    padding: 10px;
}

#box h2 {
    background-color: red;
    border: 5px black solid;
    padding: 10px;
}

#box div {
    background-color: yellow;
    border: 5px lime solid;
}

#box div h1{
    margin: 0px 10px;
}

#box div p{
    margin: 0px 10px;
}

#box1 {
    background-color: maroon;
    border: 5px olive solid;
}

#box1 p {
    background-color: fuchsia;
    border: 5px aqua solid;
    padding: 10px;
    margin: 0px;
}
